<?xml version="1.0"?>
<launch>


<!-- ForteRC Laser1-->
<group ns="laser1">
  <node pkg="urg_node" type="urg_node" name="urg_node1">
	<param name="ip_address" type="str" value="192.168.0.20"/>
	<param name="frame_id" value="laser1" />
        <param name="skip" value="1" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser1" args="0.366 0.310 -0.085 0.7980 0 3.1416 /base_link laser1 50" />
</group>

<!-- ForteRC Laser2-->
<group ns="laser2">

  <node pkg="urg_node" type="urg_node" name="urg_node2">
	<param name="ip_address" type="str" value="192.168.0.10"/>
	<param name="frame_id" value="laser2" />
        <param name="skip" value="1" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser2" args="-0.375 -0.320 -0.085 3.9270 0 3.1416 /base_link laser2 50" />

</group>


 <!-- ForteRC rosserial-->
  <node name="forteRC_node" type="serial_node.py" pkg="rosserial_python" args="/dev/forteRC_arduino" output="screen">
	<param name="baud" value="115200"/>
  </node>


</launch>
